:host {
    display: flex;
    justify-content: space-between;
}

.task-name {
    padding-right: 24px;
}

.task-progress {
    text-align: right;
}

@media (max-width: 768px) {
    .task-name {
        padding-right: 0;
    }

    .task-progress {
        display: none;
    }
}
