<div class="overlay"></div>

<div class="wrapper">
    <h1>New task</h1>

    <div>
        Name:<br>
        <input type="text" [(ngModel)]="name" />
    </div>

    <div>
        Hash-list:<br>
        <textarea [(ngModel)]="hashes"></textarea>
    </div>

    <div>
        Hash type:<br>
        <select [(ngModel)]="hashTypeId">
            <option *ngFor="let hashType of hashTypes" [value]="hashType.id">{{ hashType.name }}</option>
        </select>
    </div>

    <div class="actions">
        <cbox-button (click)="close()" class="danger">Cancel</cbox-button>
        <cbox-button (click)="createTask()">Create task</cbox-button>
    </div>
</div>
