@import "colors";

.overlay {
    position: absolute;
    inset: 0;

    z-index: 10;

    backdrop-filter: blur(3px) grayscale(75%);
}

.wrapper {
    width: 50vw;
    min-width: 300px;
    max-width: 400px;
    margin: 36px auto;

    display: flex;
    flex-direction: column;
    background-color: unquote($backgroundColor + "cc");

    position: relative;
    z-index: 20;

    border-radius: 4px;
    clip-path: polygon(100% 100%, 100% 7.5%, 90% 0, 0 0, 0 93.5%, 10% 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    padding: 20px;
    box-sizing: border-box;
}

input, textarea, select {
    box-sizing: border-box;
    width: 100%;
    border: solid 1px $primaryColor;
    height: 3rem;
    font-size: 2rem;
    background-color: transparent;
    padding: 0.2rem 1rem;
    margin-bottom: 15px;
    color: $primaryColor;
}

textarea {
    font-size: 1.6rem;
    height: 12rem;
}

select {
    background-color: #2a2c2e;
    appearance: none;
}

.actions {
    display: flex;
    justify-content: space-between;

    cbox-button {
        width: 48%;
    }
}
