@import 'colors';

:host {
    display: inline-flex;

    width: 16rem;
    height: 3rem;

    &.danger {
        polygon:hover {
            fill: $dangerColor;
        }

        text.hover {
            fill: $dangerContrastColor;
        }
    }
}

button {
    width: 16rem;
    height: 3rem;

    padding: 0;

    background: transparent;
    border: none;

    polygon {
        stroke: $primaryColor;
        fill: transparent;
        stroke-width: 1px;
        transition: all 100ms ease-in;
    }

    text {
        fill: $primaryColor;
        font-size: 1.8rem;
        transition: all 100ms ease-in;

        // Ensures the polygon will always be
        // the element the mouse is hovering.
        pointer-events: none;
    }

    polygon:hover {
        fill: $hoverColor;
    }

    // The hover class is attached when hovering
    // the polygon. It has to be controlled by the
    // polygon if the corners should be properly
    // cut off for mouse events as well.
    text.hover {
        fill: $highlightContrastColor;
    }
}
