:host {
    display: flex;
}

cbox-agent, cbox-connection {
    opacity: .5;
    transition: opacity 150ms ease-in;

    &:not(:last-child) {
        margin-right: 4px;
    }

    &:hover {
        opacity: 1;
    }
}
