@import 'colors';

:host {
    display: inline-flex;

    span {
        height: 8px;
        width: 8px;

        border-radius: 50%;
        background-color: $dangerColor;

        display: inline-block;

        &.connected {
            background-color: $confirmColor;
        }
    }
}
