<cbox-dna [progress]="progress" [basePairProgressRows]="basePairProgressRows" [basePairWidth]="basePairWidth"></cbox-dna>
<cbox-task-list (selectTask)="onSelectTask($event)" (openCreateTask)="onOpenCreateTask()"></cbox-task-list>
<cbox-task-details *ngIf="selectedTask" [task]="selectedTask"></cbox-task-details>
<cbox-create-task *ngIf="showCreateTask" (closeCreateTask)="onCloseCreateTask()"></cbox-create-task>
<cbox-status></cbox-status>
