<h1 class="task-list-header">
    Tasks
    <span class="add-task" (click)="toggleCreateTasks()">+</span>
</h1>
<span *ngIf="loading">Loading...</span>
<ng-container *ngIf="!loading">
    <cbox-task
        *ngFor="let task of tasks; trackBy: taskTracker"
        [ngClass]="{ 'selected': selectedTask === task }"
        [task]="task"
        (click)="onSelectTask(task)">
    </cbox-task>
    <span *ngIf="tasks.length === 0">No tasks</span>
</ng-container>
