@import 'colors';
@import 'animations';

:host {
    @include text-glow;
}

.task-list-header {
    min-width: 135px;
}

.add-task {
    display: inline-block;
}

cbox-task {
    cursor: pointer;

    &:hover {
        color: $hoverColor;
    }

    &.selected {
        cursor: default;
        color: $highlightColor;
    }
}
